@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Merriweather:ital,wght@1,700&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: #dddbf1;
}

body {
  display: flex;
  margin-top: 150px;
  justify-content: center;
  height: 100vh;
  background-color: #755c1b;
}

.todolist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  background-color: #7a4419;
  height: max-content;
  max-width: 900px;
  border-radius: 20px 20px;
  border: 2px solid #383f51;
}

.list-header,
.add-new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #383f51;
  padding: 0 20px;
  height: 50px;
}

#add-new-task,
#add-new-task::placeholder {
  color: #ada7ac;
  font-family: 'Merienda', cursive;
  letter-spacing: 0.1rem;
}

.list-header > h1 {
  letter-spacing: 0.1rem;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

input,
button {
  border: 0;
  background: none;
}

input:focus {
  outline: none;
}

.task {
  cursor: move;
  height: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
  padding: 0 20px;
  border-bottom: 2px dotted #383f51;
}

.fa-solid {
  font-size: 24px;
  cursor: pointer;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.new-task {
  letter-spacing: 0.07rem;
  font-family: 'Merienda', cursive;
  border-radius: 9px;
  padding-left: 10px;
}

.active {
  background: #b4b88c;
  color: #000;
}

.line {
  text-decoration: line-through;
  font-size: 17px;
  color: #ada7ac;
}

#clear-btn {
  font-family: 'Merienda', cursive;
  cursor: pointer;
  height: 70px;
  background-color: #0b2545;
  border-radius: 0 0 19px 19px;
}

@media screen and (min-width: 600px) {
  * {
    font-size: 20px;
  }

  .list-header > h1 {
    font-size: 25px;
  }

  .todolist {
    width: 70%;
  }

  .list-header,
  .add-new-task {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
