@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Merriweather:ital,wght@1,700&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #dddbf1;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #755c1b;
}

.todolist {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: #7a4419;
  height: max-content;
  width: 70%;
  margin: auto;
  border-radius: 20px 20px;
  border: 2px solid #383f51;
}

.list-header,
.add-new-task {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid #383f51;
  padding: 0 20px;
  height: 50px;
  column-gap: 20px;
}

#add-new-task,
#add-new-task::placeholder {
  color: #ada7ac;
  font-family: 'Merienda', cursive;
  letter-spacing: 0.1rem;
}

.list-header > h1 {
  letter-spacing: 0.1rem;
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.fa-solid {
  font-size: 24px;
}

input,
button {
  border: 0;
  background: none;
}

input:focus {
  outline: none;
}

.task {
  height: 50px;
  display: grid;
  align-items: center;
  column-gap: 40px;
  padding: 0 20px;
  flex-direction: row;
  grid-template-columns: auto 1fr auto;
  border-bottom: 2px dotted #383f51;
}

.new-task {
  letter-spacing: 0.07rem;
  font-family: 'Merienda', cursive;
}

.line {
  text-decoration: line-through;
  font-size: 17px;
  color: #ada7ac;
}

#clear-btn {
  font-family: 'Merienda', cursive;
  cursor: pointer;
  height: 70px;
  background-color: #0b2545;
  border-radius: 0 0 19px 19px;
}
